.container {
  // display: inline-block;
  position: relative;
  // z-index: -1;
}

.overlay {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
}

.overly:hover {
  opacity: 1;
}
