<div class="card">
  <div class="card-content">
    <div class="img-wrapper">
      <img class="image" [src]="data.photo" />
    </div>

    <div class="info">
      <div class="first-line">
        <div *ngIf="data.superHost" class="superhost">Superhost</div>
        <p class="type">{{ data.type }}</p>
        <div class="rating">
          <span
            ><img
              class="image star-icon"
              src="../../assets/star.svg"
              alt="star rating"
          /></span>
          {{ data.rating }}
        </div>
      </div>
      <p class="title">{{ data.title }}</p>
    </div>
  </div>
</div>
