*,
*:after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Montserrat";
}

:host {
  min-width: 300px;
  width: 10%;
  // height: auto;
}

.card {
  display: inline-flex;
  width: 100%;
  // TODO Height auto or 100% or something else?
  height: auto;
  // border-radius: 12px;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-content {
  display: inline-flex;
  flex-direction: column;
  padding: 30px;
}

.img-wrapper {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.info {
  max-width: 100%;
}

.first-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
}

.superhost {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 12px;

  border: 1.5px solid rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  padding: 5px;
  margin-right: 10px;
}

.type {
  color: #828282;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  display: inline-block;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  // max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rating {
  display: inline-block;
  margin-left: auto;
}

.star-icon {
  width: 1rem;
  color: rgb(255, 56, 92);
}
