@import "../assets/styles/_outline.scss";

stay-list {
  display: flex;
  margin: 0 auto;
  width: 80%;
  column-count: 3;
}

mat-icon {
  color: white;
  vertical-align: top;
}

button {
  margin: 30px 30px;
  padding: 5px;
  background-color: rgb(255, 56, 92);
  border: none;
  border-radius: 50px;
}
