<div class="segment">
  <label class="location">
    <div class="title">Location</div>
    <input class="input" placeholder="Where are you going?" type="text" />
  </label>
</div>

<div class="div"></div>

<div class="segment">
  <label class="guests">
    <div class="title">Guests</div>
    <div class="input">Add guests</div>
  </label>
</div>

<div class="div"></div>

<div class="segment">
  <label class="guests">
    <div class="title">Guests</div>
    <div class="input">Add guests</div>
  </label>
</div>

<div class="btn-wrapper">
  <button class="search-btn">
    <div class="icon-wrapper">
      <img
        class="search-icon"
        src="../../assets/magnifying_glass.svg"
        alt="search"
      />
    </div>
  </button>
</div>
